body,
html {
    height: 100%;
}
ol,
ul,
li {
    list-style: none;
}
*,
:after,
:before {
    border: 0 solid #e3e3e3;
    box-sizing: border-box;
}
a {
    color: blue;
    text-decoration: underline;
}

/* 사이드바 */
.chat-sidebar {
    height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

.sidebar-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
}

.sidebar-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* 메인 */
.chat-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #343a40;
    color: white;
    padding: 15px;
}

.chat-footer {
    padding: 10px;
    background-color: #f8f9fa;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px;
}
.bot-message-content {
    max-width: 768px; /* 박스의 최대 너비를 제한 */
    word-wrap: break-word; /* 긴 단어를 줄바꿈 */
    word-break: break-word; /* 단어가 너무 길면 강제로 줄바꿈 */
    overflow-wrap: break-word; /* 긴 텍스트를 박스 내에서 줄바꿈 */
    white-space: normal; /* 텍스트가 자동으로 줄바꿈되도록 설정 */
}

.chat-input {
    width: 100%;
    padding: 10px;
}
